*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.agents/
.codex
.idea/.name
skills
skills-lock.json
/build
/captures
.externalNativeBuild
.cxx
local.properties

functions/.env
functions/node_modules/
scripts/node_modules/
planes/
*.md
!DEVLOG.md
